#root {
  max-width: 1280px;
  text-align: center;
}


.N5 {
  background-color: #ffe5ff;
}
.N4 {
  background-color: #fadcfb;
}
.N3 {
  background-color: #f6d3f6;
}
.N2 {
  background-color: #f1caf2;
}
.N1 {
  background-color: #edc1ed;
}